html , body , main {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: panBackground 30s linear infinite;
    overflow: hidden;
}


#background-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.bg-layer.visible {
    opacity: 1;
    animation: panBackground 60s linear infinite;
}

@keyframes panBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 0%;
    }
}

main {
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: panBackground 1s ease-in-out;
}

@keyframes panBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}


.nav-btn , .nav-btn-inverse , .nav-btn-inverse:hover , .nav-btn:hover {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nav-btn {
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    background-color: black;
    padding: 8px 15px;
    transition-duration: 0.5s;
}

.nav-btn:hover {
    border: 2px solid black;
    color: black;
    background-color: white;
    transition-duration: 1s;
}

.nav-btn-inverse {
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 8px 15px;
    border-radius: 10px;
    transition-duration: 1s;
}

.nav-btn-inverse:hover {
    border: 2px solid white;
    color: white;
    background-color: black;
    transition-duration: 1s;
}


.intro {
    margin-top: 50px;
}

.bio {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 25px;
    top: 45%;
    text-align: center;
    left: 15%;
}

.main-btn{
    border: 1px solid;
    color: white;
    border-radius: 25px;
    background-color: black;
    padding: 20px 35px;
    border-color: black;
    transition-duration: 0.5s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 65%;
    left: 40%;
}

.main-btn:hover {
    border: 2px solid;
    color: black;
    border-color: white;
    scale: 1.1;
    background-color: white;
    transition-duration: 1s;
}

#map { 

    position: absolute;
    left: 10%;
    bottom: 10%;
    height: 40%;
    width: 80%;
    border-radius: 20px;
    border: 3px solid white;
}
.loader {
    position: relative;
    top: 20%;
    left :40%; 
    width: 200px;
    height: 200px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.55);
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .loader::before {
    content: '';
    position: absolute;
    inset: 20px;
    background: transparent;
    border: 1px dashed#444;
    border-radius: 50%;
    box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
    inset 5px 5px 35px rgba(0,0,0,0.25);
  }
  
  .loader::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px dashed#444;
    box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
    inset 5px 5px 35px rgba(0,0,0,0.25);
  }
  
  .loader span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100%;
    background: transparent;
    transform-origin: top left;
    animation: radar 2s linear infinite;
    border-top: 1px dashed #fff;
  }
  
  .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: seagreen;
    transform-origin: top left;
    transform: rotate(-55deg);
    filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
  }

  @keyframes radar {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }